.bill-preview-heading-1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.bill-preview-heading-2 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'iter', sans-serif;
}

.bill-preview-heading-3 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'iter', sans-serif;
}

.bill-preview-title-row {
    margin-top: 10px;
}

.bill-preview-item-row {
    font-family: 'iter', sans-serif;
    margin-bottom: 5px;
}

.separator {
    margin-top: 100px;
    margin-bottom: 100px;
}

.bill-preview-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    margin: 20px auto;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f0f6ff;
    overflow-y: scroll;
    overflow-x: hidden;
    border: solid #b6d3ff 5px;
}

.bill-preview-container::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .bill-preview-container {
        width: 100%;
    }
}

.bill-preview-cancel-button {
    width: 250px;
    height: 30px;
    border: none;
    background-color: red;
    border-radius: 0.5vw;
    color: white;
    cursor: pointer;
    transition: all 0.2s linear;
    margin-bottom: 10px;
}

.bill-preview-print-button {
    width: 250px;
    height: 30px;
    border: none;
    background-color: #449AFF;
    border-radius: 0.5vw;
    color: white;
    cursor: pointer;
    transition: all 0.2s linear;
    
}

.bill-preview-cancel-button:hover {
    transform: scale(1.05);
}

.bill-preview-print-button:hover {
    transform: scale(1.05);
}

.bill-preview-button-container {
    margin-top: 40px;
}