
input, select {
    width: 100%;
    height: 100%;
    border: none;
    color: black;
    text-align: center;
}

input:focus, select:focus {
    border: none;
    outline: none;
}

.col1, .col3, .col4, .col5, .col6 {
    width: 10%;
}

.col2 {
    width: 40%;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: right;
}

.total-container {
    position: relative;
    left: 11%;
    margin-bottom: 20px;
}

label {
    font-size: 1.6em;
    margin-right: 1%;
}


#total {
    resize: none;
    width: 15%;
    border: solid #b8b8b8 1px;
    height: 40px;
    color: #5f5f5f;
    cursor: default;
}

#total:focus {
    border: solid #b8b8b8 1px;
    outline: none;
}

.cash-register-add-item-button {
    display: block;
    width: 100%;
    height: 3.5vh;
    background-color: #449AFF;
    color: white;
    /* border-radius: 5%; */
    cursor: pointer;
    border-radius: 3vw;
}

.cash-register-add-item-button:focus {
    outline: none;
    border: none;
}

.cash-register-delete-button img {
    transition: all 0.2s linear;
}

.cash-register-delete-button:focus {
    outline: none;
    border: none;
}

.cash-register-delete-button img:hover {
    transform: scale(1.2);
}


.cash-register-instructions {
    color: #449AFF;
    margin-left: 10%;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: -30px;
}

.cash-register-button {
    display: block;
    margin: 5px 0 0 96%;
    width: 15%;
    height: 3.5vh;
    border: #449AFF solid 1px;
    border-radius: 5%;
    cursor: pointer;
}

.button-1,
.button-2 {
    transition: 0.3s;
}

.button-1 {
    color: #449AFF;
    background-color: white;
}

.button-1:hover {
    color: white;
    background-color: #449AFF;
}

.button-2 {
    color: #449AFF;
    background-color: white;
}

.button-2:hover {
    color: white;
    background-color: #449AFF;
}