.employee-registration-form {
    width: 80%;
    margin: 4vh auto;
    background-color: #F8FCFF;
    border: 4px solid #085993;
    border-radius: 30px;
}

.employee-registration-form input,
.employee-registration-form select {
    box-sizing: border-box;
    display: block;
    width: calc(94% - 20px);
    margin: 0 3% 1vh 3%;
    font-size: 1.2em;
    padding: 0.5em;
}

.employee-back-form {
    width: 80%;
    margin: 4vh auto;
}



.employee-registration-form label {
    font-size: 2em;
    margin: 0 3%;
}

.employee-registration-form button {
    display: block;
    width: 30%;
    margin: 2vh auto;
    padding: 10px;
    font-size: 1.5em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.employee-registration-form .employee-add-back-button {
    background-color: #449AFF;
}

.employee-registration-form button:hover {
    background-color: #45a049;
}


.employee-registration-form .employee-add-back-button:hover {
    background-color: #4c9fff;
}


.form-name-text {
    text-align: center;
    font-size: 2.5em; 
    margin-bottom: 1%;
}


.form-info-text {
    text-align: center;
    font-size: 1.2em; 
    margin-bottom: 1%;
}
