.menu-item-container {
    width: 80%;
    margin: 2% auto;
    display: flex;
    border-bottom: 4px solid #085993;
    border-right: 4px solid #085993;
    border-radius: 30px;
}

.image-and-tags {
    width: 30%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}

.menu-item-img {
    width: 100%;
    height: 100%;
    margin: 2%;
}

.tag-buttons {
    margin: 0.5% 2% 2% 2%;
}

.tag-button {
    background-color: #95C5FF;
    color: white;
    width: 30%;
    height: 3vh;
    border-radius: 10px;
    border: none;
    margin: 1% 1.15%;
    font-size: 1em;
}

.menu-item-details {
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    width: 60%;
}

.item-name {
    font-size: 3em;
    margin-bottom: 2%;
}

.item-description, .item-price {
    font-size: 1.3em;
    line-height: 2;
}

.action-buttons {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10%; 
}

.action-button, .action-button-right-most {
    width: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 50%;
}

.action-button-right-most {
    margin-right: 10%;
}

.action-button-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-and-tags-modal-div {
    width: 40%;
    height: 100%;
}

.menu-item-details-modal-div {
    margin-left: 2%;
    width: 58%;
    height: 100%;
}

.modal-menu-item-img {
    width: 100%;
}

.modal-tag-button {
    background-color: #95C5FF;
    color: white;
    width: 30%;
    height: 3vh;
    border-radius: 10px;
    border: none;
    margin: 1% 1.15%;
    font-size: 1em;
}

.modal-item-name {
    font-size: 3.5em;
}

.modal-item-description {
    font-size: 2em;
    margin-bottom: 25%;
}


.modal-item-ingredients {
    font-size: 2em;
}

.item-ingredients {
    font-size: 1.2em;
    list-style-type: none;
}


/* STYLE FOR FORM MODAL */
.modal input {
    box-sizing: border-box;
    display: block;
    width: calc(94% - 20px);
    margin: 0 3% 1vh 3%;
    font-size: 1.2em;
    padding: 0.5em;
}

.modal label {
    font-size: 2em;
    margin: 0 3%;
}

.modal form button {
    display: block;
    width: 30%;
    margin: 2vh auto;
    padding: 10px;
    font-size: 1.5em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.menu-item-add-form button:hover {
    background-color: #45a049;
}

.form-name-text {
    text-align: center;
    font-size: 2.5em; 
    margin-bottom: 1%;
}