.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: 6vh auto;
    padding: 20px;
    width: 90vw;
    max-height: 90vh; 
    overflow-y: auto; 
    background-color: #EDF5FF;
    display: flex;
    flex-wrap: wrap;
}