.navigation-bar {
    background-color: #004DA7;
    overflow: hidden;
    display: flex;
    justify-content: flex-end; 
    height: 4.5vw;
}

.navigation-bar .nav-button {
    margin: 4vh 0.2vw 0;
    padding: 14px 16px;
    background-color: #98C7FF;
    border-radius: 10px 10px 0 0;
    width: 12.5vw;
    text-align: center;
    font-size: 1.25em;
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

.navigation-bar .nav-button:hover {
    background-color: white;
}

.logo {
    position: relative;
    left: -32vw;
}

.logo img {
    width: 75%;
    margin-left: 1vw; 
    margin-top: 1.2vh;
}