.div {
    display: flex;
    flex-direction: column;
    padding: 39px 20px 0;
  }
  .div-2 {
    background-color: #f8fcff;
    margin: 39px -20px 0 0;
    padding: -39px 80px 31px -20px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .div-3 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-3 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 53%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-4 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      margin-top: -8px;
    }
  }
  .img {
    aspect-ratio: 0.81;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
  }


  @media (max-width: 991px) {
    .img {
      max-width: 100%;
    }
  }
  .div-5 {
    align-self: start;
    display: flex;
    width: 243px;
    max-width: 100%;
    gap: 14px;
    margin: 50px 0 0 64px;
  }
  @media (max-width: 991px) {
    .div-5 {
      margin: 40px 0 0 10px;
    }
  }
  .div-6 {
    justify-content: center;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    background-color: #95c5ff;
    flex-grow: 1;
    align-items: center;
    padding: 8px 20px;
    font: 600 12px/15px Inter, sans-serif;
  }
  .div-7 {
    justify-content: center;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    background-color: #ff9f9f;
    flex-grow: 1;
    align-items: center;
    padding: 7px 20px;
    font: 600 12px/15px Inter, sans-serif;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 47%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-8 {
    display: flex;
    margin-top: 71px;
    flex-direction: column;
    align-items: start;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-9 {
    align-self: stretch;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-9 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-10 {
    color: #000;
    margin-top: 24px;
    flex-grow: 1;
    flex-basis: auto;
    font: 700 36px/43px Lato, sans-serif;
  }
  .img-2 {
    aspect-ratio: 1.07;
    object-fit: contain;
    object-position: center;
    width: 40px;
    overflow: hidden;
  }
  
  .div-11 {
    color: #000;
    align-self: stretch;
    margin-top: 37px;
    font: 400 16px/19px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
    }
  }
  .div-12 {
    display: flex;
    width: 290px;
    max-width: 100%;
    flex-direction: column;
    margin: 126px 0 0 12px;
  }
  @media (max-width: 991px) {
    .div-12 {
      margin: 40px 0 0 10px;
    }
  }
  .div-13 {
    color: #000;
    white-space: nowrap;
    font: 700 28px/34px Lato, sans-serif;
  }
  @media (max-width: 991px) {
    .div-13 {
      white-space: initial;
    }
  }
  .div-14 {
    color: #000;
    margin-top: 41px;
    font: 400 16px/14px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-14 {
      margin-top: 40px;
    }
  }
