.search-bar-container {
    border-radius: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85%; /* Set a maximum width for the container */
    width: 100%;
    padding: 15px; /* Add padding as needed */
    margin: 30px auto; /* Center the container horizontally */
}

/* Style for the text input */
.search-bar {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    flex-grow: 1; /* Take remaining space */
}

.search-icon,.add-icon {
    width: 20px; /* Adjust the width to your preference */
    height: 20px; /* Adjust the height to your preference */
}

/* Style for the search button */
.search-button {
    background-color: #fff; /* Green background color */
    border: none;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* Style for the dropdowns */
.search-bar-dropdown-1,
.search-bar-dropdown-2 {
    border: none;
    padding: 8px;
    margin-right: 5px;
}

/* Style for the add button */
.search-bar-add-button {
    background-color: #fff; /* Blue background color */
    border: none;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* Add some space between the elements */
.search-bar-container > * {

    margin-right: 5px;
}
